@use '~styles/colors.scss' as colors;
@use '~styles/breakpoints.scss' as breakpoints;
@use '~styles/fonts.scss' as fonts;

.container-size-selector {
  min-width: 30rem;
  height: 13rem;

  display: flex;

  align-items: center;
  justify-content: center;

  &__size-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;
    justify-content: center;
  }

  &__card:focus {
    outline: none;
  }

  &__card {
    width: 8.5rem;
    height: 10.5rem;

    display: flex;

    align-items: center;
    justify-content: center;

    border: 0.3rem solid transparent;
    box-sizing: border-box;

    background-color: colors.$secondary100;
    box-shadow: 0 0 0.3rem 0.3rem colors.$gray150;
    border-radius: 1.8rem;

    transition:
      width 0.3s ease-in-out,
      height 0.3s ease-in-out;

    &:hover {
      border: 0.3rem solid colors.$primary200;

      .container-size-selector__svg path {
        fill: colors.$primary200;
      }

      .container-size-selector__title {
        color: colors.$primary200;
      }

      .container-size-selector__text {
        color: colors.$primary200;
      }

      .container-size-selector__container-img {
        background-color: rgb(209, 230, 255);
      }
    }

    &--active {
      width: 10.5rem;
      height: 13.5rem;

      border: 0.3rem solid colors.$primary200;

      border-radius: 1.8rem;

      transition:
        width 0.3s,
        height 0.3s;

      .container-size-selector__svg path {
        fill: colors.$primary200;
      }

      .container-size-selector__title {
        color: colors.$primary200;
        font-size: fonts.$sm;
      }

      .container-size-selector__text {
        color: colors.$primary200;
        font-size: fonts.$xs;
      }

      .container-size-selector__container-img {
        width: 4.5rem;
        height: 4.5rem;

        background-color: rgb(209, 230, 255);
      }
    }
  }

  &__card-size {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    align-items: center;
    justify-content: center;
  }

  &__container-img {
    width: 4rem;
    height: 4rem;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: colors.$gray150;
    border-radius: 100%;
  }

  &__container-text {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    align-items: center;

    justify-content: center;
  }

  &__title {
    font-family: fonts.$primaryFont;
    color: colors.$gray800;
    font-size: fonts.$xs;
    font-weight: fonts.$semiBold;
  }

  &__text {
    font-family: fonts.$primaryFont;
    color: colors.$gray600;
    font-size: fonts.$xs;
    font-weight: fonts.$regular;
  }
}

@include breakpoints.from360() {
  .container-size-selector {
    &__card {
      width: 9rem;
      height: 12rem;

      &--active {
        width: 11.5rem;
        height: 15rem;

        .container-size-selector__container-img {
          width: 6rem;
          height: 6rem;
        }
      }

      &__container-img {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }
}

@include breakpoints.from667() {
  .container-size-selector {
    height: 26rem;

    align-items: center;
    justify-content: center;

    &__size-list {
      gap: 5rem;
    }

    &__card {
      width: 15.6rem;
      height: 20rem;

      transition:
        width 0.3s,
        height 0.3s;

      &--active {
        width: 20rem;
        height: 26rem;

        .container-size-selector__title {
          font-size: fonts.$lg;
        }

        .container-size-selector__text {
          font-size: fonts.$md;
        }
      }
    }

    &__title {
      font-size: fonts.$md;
    }

    &__text {
      font-size: fonts.$sm;
      font-weight: fonts.$regular;
    }
  }
}
